## Connect to the NHANES data resource using the HPDS Adapter

In [1]:
library(PicSureClient)

adapter <- PicSureHpdsLib::BypassAdapter("http://pic-sure-hpds-nhanes:8080/PIC-SURE")
resource <- adapter$useResource()

## Use help() to discover what can be done (with the data resource)

In [2]:
resource$help()

        [HELP] PicSureHpdsLib.useResource(resource_uuid)
            .dictionary()       Used to access data dictionary of the resource
            .query()            Used to query against data in the resource

        [ENVIRONMENT]
              Endpoint URL: http://pic-sure-hpds-nhanes:8080/PIC-SURE/
             Resource UUID: None

## Dictionary Functions

In [3]:
d <- resource$dictionary()
d$help()

        [HELP] PicSureHpdsLib.Client(connection).useResource(uuid).dictionary()
            .find()                 Lists all data dictionary entries
            .find(search_string)    Lists matching data dictionary entries

In [4]:
found_entries <- d.find("demographics")
found_entries$help()

        [HELP] PicSureHpdsLib.Client(connection).useResource(uuid).dictionary().find(term)
            .count()        Returns the number of entries in the dictionary that match the given term
            .keys()         Return the keys of the matching entries
            .entries()      Return a list of matching dictionary entries
            .DataFrame()    Return the entries in a Pandas-compatible format

        [Examples]
            results = PicSureHpdsLib.Client(connection).useResource(uuid).dictionary().find("asthma")
            df = results.DataFrame()

In [5]:
found_entries$count()

14

In [6]:
found_entries$keys()

['\\demographics\\SDDSRVYR\\',
 '\\demographics\\INDFMPIR\\',
 '\\demographics\\SES_LEVEL\\',
 '\\demographics\\SEX\\',
 '\\demographics\\DMDBORN\\',
 '\\demographics\\WTMEC4YR\\',
 '\\demographics\\DMDMARTL\\',
 '\\demographics\\AGE\\',
 '\\demographics\\SDMVPSU\\',
 '\\demographics\\RACE\\',
 '\\demographics\\WTMEC2YR\\',
 '\\demographics\\SDMVSTRA\\',
 '\\demographics\\education\\',
 '\\demographics\\area\\']

In [7]:
found_entries$DataFrame()

,categorical,observationCount,min,max,categoryValues
\demographics\SDDSRVYR\,False,41474,1.0,4.00,None
\demographics\INDFMPIR\,False,38076,0.0,5.00,None
\demographics\SES_LEVEL\,False,38076,0.0,2.00,None
\demographics\SEX\,True,41474,NaN,NaN,"[female, male]"
\demographics\DMDBORN\,False,41445,1.0,3.00,None
\demographics\WTMEC4YR\,False,21004,0.0,103831.17,None
\demographics\DMDMARTL\,False,26793,1.0,99.00,None
\demographics\AGE\,False,41474,0.0,85.00,None
\demographics\SDMVPSU\,False,41474,1.0,3.00,None
\demographics\RACE\,True,41474,NaN,NaN,"[black, mexican, other, other_hispanic, white]"
\demographics\WTMEC2YR\,False,41474,0.0,261361.34,None
\demographics\SDMVSTRA\,False,41474,1.0,58.00,None
\demographics\education\,False,34260,0.0,2.00,None
\demographics\area\,True,41474,NaN,NaN,"[1_1, 1_10, 1_11, 1_12, 1_13, 1_14, 1_15, 1_16..."